.profile-img img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-img div {
  border-radius: 50%;
}

.cus-text {
  font-family: 'Montserrat', sans-serif;
  .name {
    color: #ff0363;
  }
}
