.links::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0%;
  background-color: #3a456b;
  transition: all ease-out 0.2s;
}

.links:hover::after {
  width: 100%;
  left: 0;
}

.link-active {
  .links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0%;
    background-color: #3a456b;
  }
}

/* about-css */

.word-highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0%;
  opacity: 0.65;
  z-index: -99;
  top: 20px;
  transform: rotate(-2deg);
  background-color: #3a456b;
}
